@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,600&display=swap');

/*

]=======( Preparación )=======[

*/

:root {
	--black: #181825;
	--darker-black: #0d0d17;
	--gray: #ebecf5;

	--dark-accent: #4a1795;
	--main-accent: #892CDC;
	--light-accent: #BC6FF1;

	--button-hightlight: #9832db;
	--light-transparent: rgba(255, 255, 255, 0.3);

	--mainFont: 'Poppins', sans-serif;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: var(--mainFont);
	font-size: 1.6rem;
	line-height: 1.8;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-weight: 900;
	line-height: 1;
	margin: 1rem 0 3rem 0;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 5.2rem;
}

h3 {
	font-size: 3.5rem;
}

@media (max-width: 998px) {
    h3 {
    	font-size: 3rem;
    }

    p {
    	line-height: 1.5;
    }
}

@media (max-width: 440px) {
    h2 {
		font-size: 4rem;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	overflow: hidden;
}

/*

]=======( Globales )=======[

*/

.container {
	max-width: 120rem;
	margin: 0 auto;
	width: 95%;
}

.texto-morado {
	color: var(--main-accent);
}

.visualmente-oculto:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/*

]=======( Header )=======[

*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2rem;
	z-index: 10;
	transition: .3s background-color ease-in-out;
}

.header-opaco {
	background-color: var(--black);
}

.logo {
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 3rem;
	transition: color .2s ease-in-out;
}

.logo:hover {
	color: var(--light-accent);
}

.mobile-nav-toggle {
	display: none;
}

.navigation__list {
	display: flex;
	gap: .3rem;
	height: 100%;
}

.navigation__item {
	list-style-type: none;
}

.navigation__text {
	color: white;
	display: inline-block;
	padding: 1rem;
	transition-property: background, color, border-radius, box-shadow, scale;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.navigation__text:hover {
	color: var(--light-accent);
	background: ;
	box-shadow: 0 1px 0 var(--light-accent);
}

.navigation__text-button {
	width: 100%;
	height: 100%;
	background-color: var(--main-accent);
	border-radius: 1rem;
}

.navigation__text-button:hover {
	border-radius: .5rem;
	color: white;
	background-color: var(--button-hightlight);
	box-shadow: none;
	scale: 1.05;
}

@media (max-width: 768px) {
    .navigation {
    	position: fixed;
    	inset: 0 0 0 20%;
    	background-color: var(--darker-black);
    	padding: min(30vh, 6rem) 0 ;
    	z-index: 10;
    	transform: translateX(100%);
    	transition: .2s ease-in-out;
    	transition-property: box-shadow, transform;
    }

    .navigation[data-visible="true"] {
    	box-shadow: 0 0 10rem var(--black);
    	transform: translateX(0);
    }

	.navigation__list {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		height: 100%;
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		background: red;
		width: 3.5rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		z-index: 99;
		background: url('../imgs/svg/bars-solid.svg');
		background-size: contain;
		background-repeat: no-repeat;
		border: none;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background: url('../imgs/svg/xmark-solid.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

}

/*

]=======( Sección principal )=======[

*/

.main {
	min-height: 100vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	padding: 0 6rem;
	gap: 2rem;
	background: url('../imgs/svg/main_section2.svg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

@media (max-width: 768px) {
    .main {
    	flex-direction: column;
    	justify-content: center;
    	gap: 2rem;
    }
}

@media (max-width: 440px) {
    .main {
    	padding: 0 1rem;
    }
}

.main__imagen {
	transition: .5s ease-in-out;
}


@media (max-width: 768px) {
    .main__imagen {
    	width: 50%;
    }
}

@media (max-width: 448px) {
    .main__imagen {
    	width: 60%;
    }
}

.main__imagen:hover {
	rotate: 360deg;
}

.main__contenido {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4rem;
}

.textos_main__frase {
	font-size: 2rem;
}

@media (max-width: 768px) {
    .textos_main {
		text-align: center;
	}
}

@media (max-width: 440px) {
	.main__contenido {
		gap: 1rem;
	}

	.textos_main__nombre {
		font-size: 3.5rem;
	}

	.textos_main__frase {
		font-size: 1.8rem;
	}
}

.botones_main {
	display: flex;
	gap: 2rem;
}

.botones_main__boton {
	background-color: rgba(255, 255, 255, 0.1);
	border: .1rem white solid;
	color: white;
	font-size: 1.7rem;
	padding: 1.5rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: .2s ease-in-out;
}

.botones_main__boton:hover {
	background-color: var(--light-transparent);
	border-radius: .5rem;
	scale: 1.05;
}

.botones_main__boton-contacto {
	background-color: var(--main-accent);
	border: .1rem var(--main-accent) solid;
}

.botones_main__boton-contacto:hover {
	background-color: var(--button-hightlight);
}

@media (max-width: 768px) {
    .botones_main {
		margin-inline: auto;
	}
}

@media (max-width: 440px) {
    .botones_main__boton {
    	font-size: 1.5rem;
    	padding: 1rem;
    }
}

/*

]=======( SVG Separatorio )=======[

*/

.custom-shape-divider-bottom-1688545229 {
    position: absolute;
    top: calc(100vh - 81px);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1688545229 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1688545229 .shape-fill {
    fill: #FFF;
}

/*

]=======( Sección Bienvenida )=======[

*/

.bienvenida {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	text-align: center;
	padding: 3rem;
}

.textos_bienvenida__parrafo {
	font-size: 2rem;
}

@media (max-width: 440px) {
	.bienvenida {
		padding: 1rem;
	}

	.textos_bienvenida__parrafo {
		font-size: 1.5rem;
	}

	.textos_bienvenida__titulo {
		font-size: 4rem;
	}
}

/*

]=======( Sección Educación )=======[

*/

.educacion {
	background-image: url('../imgs/svg/educacion_section.svg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-inline: 3rem;
	height: 100vh;
}

@media (max-height: 900px) {
    .educacion {
    	height: 160vh;
    }
}

@media (max-width: 440px) {
    .educacion {
    	padding-inline: 1rem;
    }
}

.educacion__titulo {
	text-align: center;
	margin-bottom: 3rem;
	position: relative;
}

.timeline {
	max-width: 100rem;
	margin-inline: auto;
	height: 90%;
	display: grid;
	grid-template-columns: 1fr 5rem 1fr;
	grid-template-rows: repeat(4, 1fr);
	gap: 2rem;
}

.center-line {
	grid-column: 2/3;
	grid-row: 1/ -1;
	background-color: var(--dark-accent);
	width: 1rem;
	margin-inline: auto;
}


@media (max-width: 768px) {
    .timeline {
    	grid-template-columns: 5rem 1fr;
    }

    .center-line {
		grid-column: 1/2;
	}

	.timeline__row {
		grid-column: 2/3;
	}

	.timeline__space {
		display: none;
	}
}

@media (max-width: 440px) {
    .timeline {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	width: 100%;
    	gap: 4rem;
    }

    .center-line {
		display: none;
	}

}

.card {
	background: var(--gray);
	position: relative;
	padding: 2rem;
	transition: .2s ease-in-out;
	transition-property: scale, background-color, box-shadow;
}

@media (max-width: 998px) {
    .card {
    	padding: 1.2rem;
    }
}

@media (max-width: 440px) {
    .card {
		width: 100%;
	}
}

.card:hover {
	scale: 1.1;
	box-shadow: 0 0 2rem -.5rem var(--black);
}

.card::before {
	position: absolute;
	content: "";
	height: 2rem;
	width: 2rem;
	background: var(--gray);
	top: 50%;
	left: calc(100% - 1rem);
	transform: translateY(-50%) rotate(45deg);
	transition: background-color .2s ease-in-out;
}

.card:hover::before {
	background-color: var(--button-hightlight);
}

.card-derecha::before {
	left: unset;
	right: calc(100% - 1rem);
}

@media (max-width: 440px) {

    .card::before {
    	display: none;
    }
}

@media (max-width: 768px) {
    .card::before {
 	   	left: unset;
		right: calc(100% - 1rem);
    }
}

.card__detalles {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.card__titulo {
	margin: 1rem 0 0 0;
}

@media (max-width: 855px) {
    .card__descripcion {
    	margin-top: 0;
    }
}

/*

]=======( Sección Experiencia )=======[

*/

.experiencia {
	min-height: 100vh;
	background-image: url('../imgs/svg/experiencia_section.svg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding-inline: 3rem;
	padding-block: 2rem;
}

@media (max-width: 768px) {
    .experiencia {
    	padding-inline: 1rem;
    }
}

@media (max-width: 440px) {
    .experiencia {
    	padding-inline: 0;
    }
}

.experiencia__titulo {
	margin-top: 0;
	text-align: center;
	color: white;
}

.trabajos {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.trabajo {
	background-color: var(--gray);
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	gap: 2rem;
}

.trabajo:nth-of-type(even) {
	flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .trabajo {
    	flex-direction: column;
    }

    .trabajo:nth-of-type(even) {
		flex-direction: column;
	}

	.trabajo:nth-of-type(even) {
		flex-direction: column;
	}
}

.trabajo__imagen {
	width: 150rem;
	object-fit: cover;
	border-radius: 2rem;
	transition: .3s ease-in-out;
}

.trabajo__imagen:hover {
	scale: 1.05;
	box-shadow: 0 0 2rem -0.4rem var(--black);
}

.trabajo__fecha {
	text-align: right;
}

.trabajo__fecha-inverso {
	text-align: left;
}

.trabajo__titulo {
	cursor: default;
	transition: color .2s ease-in-out, scale .2s ease-in-out;
}

.trabajo__titulo:hover {
	color: var(--main-accent);
	scale: 1.03;
}

/*

]=======( Sección Habilidades )=======[

*/

.habilidades {
	min-height: 100vh;
	background-image: url('../imgs/svg/habilidades_section.svg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-inline: 1rem;
	padding-block: 2rem;
}

.habilidades__titulo {
	text-align: center;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 80vh;
	gap: 2rem;
}

.skill {
	background-color: var(--gray);
	padding: 2rem;
	border-radius: 2rem;
	width: 23%;
	transition: .2s ease-in-out;
	box-shadow: 0 0 2rem -0.8rem var(--black);
}

.skill:hover {
	scale: 1.05;
	box-shadow: 0 .5rem 2rem -0.2rem var(--black);	
}

.skill__imagen {
	aspect-ratio: 1/1;
	width: 60%;
	margin-inline: auto;
}

@media (max-width: 1050px) {
    .skill {
    	width: 45%;
    }
}

@media (max-width: 550px) {
    .skill {
    	width: 90%;

    }
}

.skill__textos {
	text-align: center;
}

/*

]=======( Sección Portafolio )=======[

*/

.portafolio {
	min-height: 100vh;
	background-image: url('../imgs/svg/portfolio_section.svg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding-inline: 1rem;
	padding-block: 2rem;
	overflow-x: hidden;
}

.portafolio__titulo {
	text-align: center;
	color: white;
	margin-bottom: 5rem;
}

.carrousel {
	min-height: 80vh;
}

.proyectos {
	height: 100%;
	position: relative;
	aspect-ratio: 16/9;
}

.proyecto {
	position: absolute;
	aspect-ratio: 16/9;
	height: 100%;
	transition: .4s ease-in-out;
	transition-property: translate, scale, opacity;
}

@media (max-width: 768px) {
    .proyectos {
    	aspect-ratio: 4/3;
    }

    .proyecto {
    	aspect-ratio: 4/3;
    }
}

@media (max-width: 650px) {
    .proyectos {
    	aspect-ratio: 1;
    }

    .proyecto {
    	aspect-ratio: 1;
    }
}

@media (max-width: 550px) {
    .proyectos {
    	aspect-ratio: 2/2.5;
    }

    .proyecto {
    	aspect-ratio: 2/2.5;
    }
}

.proyecto[data-state="before"] {
	translate: -90% 0;
	scale: 0.9;
	opacity: 0.8;
}

.proyecto[data-state="after"] {
	translate: 90% 0;
	scale: 0.9;
	opacity: 0.8;	
}

.proyecto__titulo {
	color: var(--darker-black);
	position: absolute;
	left: 50%;
	bottom: 0%;
	translate: -50% 0;
	background-color: var(--light-transparent);
	padding: 1rem 2rem;
}

@media (max-width: 650px) {
    .proyecto__titulo {
    	font-size: 2rem;
    }
}

.proyecto__imagen {
	aspect-ratio: 16/9;
	height: 100%;
	object-fit: cover;
}

.controles {
	padding: 2rem;
	display: flex;
	justify-content: center;
	gap: 3rem;
	z-index: 10;
	width: 100%;
}

.controles__boton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-transparent);
	border: .3rem white solid;
	color: white;
	border-radius: 50%;
	padding: 1rem 1.5rem;
	font-size: 2rem;
}